.page-header {
  display: block;
  background-color: $base-background-color;
}

.logo {
  position: fixed;
  top: 5%;
  left: 15%;
  margin: 0 auto;
  transform: translateX(-50%);
  text-align: center;
  padding: 10px;

  &__image {
    width: auto;
    height: 40px;
  }
}
