.page-header {
  display: block;
  background-color: $base-background-color;
}

.logo {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);

  &__image {
    width: auto;
    height: 40px;
  }
}
